.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.form {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 400px;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
}
